.profile {
    &__title {
        color: var(--color-black-solid, #000);
        // text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        /* 200% */
    }

    &__account-info-wrapper {
        margin-top: 20px;
        display: flex;
        // height: 227px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
    }



    &__account-info-fields {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
    }

    &__btn-danger {
        display: flex;
        padding: 15px 25px;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        border: var(--stroke-weight-1, 1px) solid var(--leader-id-ru-white, #FFF);
        background: var(--leader-id-ru-white, #FFF);
        box-shadow: 0px 3px 5px 0px rgba(142, 165, 192, 0.20), 0px 6px 10px 0px rgba(142, 165, 192, 0.14), 0px 1px 18px 0px rgba(142, 165, 192, 0.12);

        color: var(--leader-id-ru-sunset-orange, #FF564E);
        text-align: center;

        /* leader-id.ru/Inter/Bold */
        font-family: var(--font-family-Font-1, Inter);
        font-size: 14px;
        font-style: normal;
        font-weight: var(--font-weight-700, 700);
        line-height: var(--line-height-18, 18px);
        /* 128.571% */

        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    &__btn-primary {
        display: flex;
        padding: 15px 25px;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        border: var(--stroke-weight-1, 1px) solid var(--leader-id-ru-white, #FFF);
        background: #2185FB;
        box-shadow: 0px 3px 5px 0px rgba(142, 165, 192, 0.20), 0px 6px 10px 0px rgba(142, 165, 192, 0.14), 0px 1px 18px 0px rgba(142, 165, 192, 0.12);

        color: var(--leader-id-ru-sunset-orange, #ffffff);
        text-align: center;

        /* leader-id.ru/Inter/Bold */
        font-family: var(--font-family-Font-1, Inter);
        font-size: 14px;
        font-style: normal;
        font-weight: var(--font-weight-700, 700);
        line-height: var(--line-height-18, 18px);
        /* 128.571% */

        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    &__account-btns {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    &__field-label {
        span {
            color: var(--color-red-65, #FF564E);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        color: var(--color-black-solid, #000);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__field {
        display: flex;
        width: 411px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;


        input {
            color: var(--leader-id-ru-periwinkle-gray, #BDCFE4);

            /* leader-id.ru/Inter/Regular */
            font-family: var(--font-family-Font-1, Inter);
            font-size: 13.234px;
            font-style: normal;
            font-weight: var(--font-weight-400, 400);
            line-height: var(--line-height-22_4, 22.4px);
            /* 169.256% */

            display: flex;
            padding: 10px 20px;
            align-items: center;
            align-self: stretch;

            border-radius: 4px;
            background: var(--leader-id-ru-white, #FFF);
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
        }
    }
}

.mt-20 {
    margin-top: 20px;
}

.mt-8 {
    margin-top: 8px;
}


.profile-region {
    &__list {

        --columns-desktop: 2;
        --columns-mobile: 1;
        --collumn-min-size: 598px;
        --gap: 20px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(max(var(--collumn-min-size), calc((100% - (var(--gap) * (var(--columns-desktop) - 1))) / var(--columns-desktop))), 1fr));
        gap: var(--gap);

        @media (width < 768px) {
            grid-template-columns: repeat(var(--columns-mobile), minmax(0, 1fr));
        }

    }

    &__item {
        position: relative;
        border-radius: 10px 10px 30px 30px;
        overflow: hidden;

        border-radius: 20px;
        background: var(--color-white-solid, #FFF);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    }

    &__item-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 11px 82px 15px 185px;
        justify-content: flex-end;
        align-items: center;

        position: absolute;
        height: fit-content;
        z-index: 2;
        bottom: -1px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;


        border-radius: 20px;
        background: var(--color-white-solid, #FFF);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);

        .h1 {
            color: var(--leader-id-ru-black, #000);
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .h2 {
            color: var(--leader-id-ru-black, #000);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
    }

    &__avatar {
        position: absolute;
        width: 120px;
        height: 120px;
        flex-shrink: 0;
        overflow: hidden;

        border-radius: 100%;
        fill: #C4C4C4;
        stroke-width: 6px;
        stroke: #FFF;
        border: 10px solid #FFF;

        background: antiquewhite;
        z-index: 10;
        top: 25%;
        left: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__banner {
        width: 100%;

        height: 250px;
        flex-shrink: 0;
        border-radius: 10px 10px 30px 30px;

        img {
            object-fit: cover;
            width: 100%;
            height: 56%;
            // height: 100%;
        }
    }
}

.tab-content {
    display: none;
    /* По умолчанию содержимое вкладок скрыто */
}

.tab-content.active {
    display: block;
    /* Показываем активную вкладку */
}

.tabs-control__item {
    text-wrap: nowrap;
    display: flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: var(--stroke-weight-1, 1px) solid var(--leader-id-ru-periwinkle-gray, #BDCFE4);

    color: var(--leader-id-ru-dodger-blue, var(--color-azure-56, #2185FB));
    text-align: center;

    /* leader-id.ru/Inter/Bold */
    font-family: var(--font-family-Font-1, Inter);
    font-size: 14px;
    font-style: normal;
    font-weight: var(--font-weight-700, 700);
    line-height: var(--line-height-18, 18px);
    /* 128.571% */

    &.active {
        color: #FFF;

        border-radius: 4px;
        border: var(--stroke-weight-1, 1px) solid var(--color-azure-50, #0057FF);
        background: var(--color-azure-50, #0057FF);
    }
}

.tabs-control__list {
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 3px;
    overflow-x: auto;
    scrollbar-width: thin;

    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    align-self: stretch;
}

.custom-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sended-events {

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

    &__item {
        display: flex;
        padding: 12px 30px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        border-radius: 20px;
        background: var(--color-grey-93, #E1EBF7);
    }

    &__item-name {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 100%;

    }

    &__item-info {
        display: flex;
        align-items: center;
        gap: 48px;

        color: var(--leader-id-ru-steel-gray, var(--color-blue-15, #1E1E2F));

        /* leader-id.ru/Inter/Medium */
        font-family: var(--font-family-Font-1, Inter);
        font-size: 12.594px;
        font-style: normal;
        font-weight: var(--font-weight-500, 500);
        line-height: var(--line-height-18_2, 18.2px);
        /* 144.516% */
    }

    &__status {
        text-wrap: nowrap;
        display: flex;
        padding: 6px 25px;
        justify-content: center;
        align-items: center;

        border-radius: 4px;

        color: var(--color-white-solid, #FFF);
        text-align: center;

        /* leader-id.ru/Inter/Medium */
        font-family: var(--font-family-Font-1, Inter);
        font-size: 12.391px;
        font-style: normal;
        font-weight: var(--font-weight-500, 500);
        line-height: var(--line-height-14_95, 14.95px);
        /* 120.656% */

        &.pending {
            background: var(--color-blue-54, #7C8296);
        }

        &.approved {
            background: var(--color-blue-54, #37bb49);
        }

        &.rejected {
            background: var(--color-red-65, #FF564E);
        }

        &.need-edit {
            background: var(--color-red-65, #ffd34e);
        }
    }

    &__item-button {
        color: var(--leader-id-ru-dodger-blue, var(--color-azure-56, #2185FB));
        text-align: center;
        leading-trim: both;
        text-wrap: nowrap;
        text-edge: cap;
        font-family: var(--font-family-Font-1, Inter);
        font-size: 12px;
        font-style: normal;
        font-weight: var(--font-weight-700, 700);
        line-height: var(--line-height-18, 18px);
        /* 150% */

        display: flex;
        padding: 14px 25px;
        justify-content: center;
        align-items: center;

        border-radius: 163px;
        background: var(--color-white-solid, #FFF);
        box-shadow: 0px 3px 5px 0px rgba(142, 165, 192, 0.20), 0px 6px 10px 0px rgba(142, 165, 192, 0.14), 0px 1px 18px 0px rgba(142, 165, 192, 0.12);

        transition: all 0.3 ease-in-out;

        &:hover {
            opacity: 0.7;
        }
    }
}

.form-login {
    min-height: 50vh;
    margin: auto;
}

#myForm {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.verify {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

.verify-status {
    width: 75%;
    // background: #e0e0e0;
    padding: 0 24px;
    border-radius: 12px;

    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.verify-info {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    &.true {
        color: #37bb49;
    }

    &.false {
        color: #FF564E;
    }

    &.pending {
        color: #ffd34e;
    }
}

.avatar-image {
    width: 300px;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btn-outline {
    color: var(--leader-id-ru-dodger-blue, var(--color-azure-56, #2185FB));
    text-align: center;

    /* leader-id.ru/Inter/Bold */
    font-family: var(--font-family-Font-1, Inter);
    font-size: 14px;
    font-style: normal;
    font-weight: var(--font-weight-700, 700);
    line-height: var(--line-height-18, 18px);
    /* 128.571% */
    display: flex;
    width: fit-content;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: var(--stroke-weight-1, 1px) solid var(--leader-id-ru-periwinkle-gray, #BDCFE4);
}