$blue-color: #2185fb;
$blue: #0057ff;
$light-blue-color: #bbdefb;
$acsent-color: #38bda8;
$dark-grey-color: #e0e0e0;
$text-color: #333333;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
