<div class="footer wrapper">
    <div class="footer__licence">
        <img src="assets/img/logo.svg" alt="">
        <p class="fs-14">© 2024 Все права защищены.</p>
        <a href="/" style="text-decoration: underline;" class="fs-12">Пользовательское соглашение</a>
        <a href="/" class="fs-12">Политика обработки персональных данных</a>
    </div>

    <div class="nav">
        <div class="nav__block">
            <a class="nav__title fw-700 fs-14">Календарь мероприятий</a>

            <a class="nav__title fw-700 fs-14">Региональные преставительства</a>

            <a class="nav__title fw-700 fs-14">Новости</a>

        </div>

        <div class="nav__block-contacts">
            <a class="nav__title fw-700 fs-14">Контакты</a>
            <p class="nav_contacts fs-14">8-800-88-88</p>
            <p class="nav_contacts fs-14">support@fsp.ru</p>
            <p style="margin-top: 10px" class="nav__title fw-700 fs-14">Чат бот</p>
        </div>
    </div>
</div>