<div class="wrapper header ">
    <a class="header__logo" href="https://dev-level.ru/">
        <img src="{{ 'assets/img/logo3.svg'|theme }}" alt="" />
    </a>

    <div class="header__panel fs-14">
        <a target="_blank" href="https://dev-level.ru/#calendar">Календарь мероприятий</a>
        <a target="_blank" href="https://dev-level.ru/regions">Региональные преставительства</a>
        <a target="_blank" href="https://dev-level.ru/news">Новости</a>
        <a class="" href="/account/login">
            <img src="{{ 'assets/img/enter.svg '|theme }}" alt="">
            <p>Кабинет</p>
        </a>
    </div>

    <!-- Burger menu -->
    <span class="__burger_icon"><span></span><span></span><span></span></span>

    <div class="__extra_buttons">
        <a href="/" class="header-content__rating">
            <p>Календарь мероприятий</p>
        </a>
        <a href="/" class="header-content__about">
            <p>Региональные преставительства</p>
        </a>
        <a href="/" class="header-content__notifications">
            <p>Новости</p>
        </a>
        <a href="/" class="header-content__profile">
            <img src="{{ 'assets/img/enter.svg '|theme }}" alt="">
            <p>Войти</p>
        </a>
    </div>
</div>