/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@layer reset, typography, base, components, utilities;
@layer typography {
  body * {
    font-family: roboto, sans-serif;
  }
  .fw-100 {
    font-weight: 100;
  }
  .fw-200 {
    font-weight: 200;
  }
  .fw-300 {
    font-weight: 300;
  }
  .fw-400 {
    font-weight: 400;
  }
  .fw-500 {
    font-weight: 500;
  }
  .fw-600 {
    font-weight: 600;
  }
  .fw-700 {
    font-weight: 700;
  }
  .fw-800 {
    font-weight: 800;
  }
  .fw-900 {
    font-weight: 900;
  }
  .fs-100 {
    font-size: min(64px + 36 * (100vw - 375px) / 1545, 100px);
  }
  .fs-96 {
    font-size: min(48px + 48 * (100vw - 375px) / 1545, 96px);
  }
  .fs-64 {
    font-size: min(32px + 32 * (100vw - 375px) / 1545, 64px);
  }
  .fs-48 {
    font-size: min(24px + 24 * (100vw - 375px) / 1545, 48px);
  }
  .fs-40 {
    font-size: min(22px + 18 * (100vw - 375px) / 1545, 40px);
  }
  .fs-36 {
    font-size: min(20px + 16 * (100vw - 375px) / 1545, 36px);
  }
  .fs-32 {
    font-size: min(20px + 12 * (100vw - 375px) / 1545, 32px);
  }
  .fs-30 {
    font-size: min(20px + 10 * (100vw - 375px) / 1545, 30px);
  }
  .fs-28 {
    font-size: min(18px + 10 * (100vw - 375px) / 1545, 28px);
  }
  .fs-24 {
    font-size: min(16px + 8 * (100vw - 375px) / 1545, 24px);
  }
  .fs-20 {
    font-size: min(14px + 6 * (100vw - 375px) / 1545, 20px);
  }
  .fs-18 {
    font-size: min(14px + 4 * (100vw - 375px) / 1545, 18px);
  }
  .fs-16 {
    font-size: min(14px + 2 * (100vw - 375px) / 1545, 16px);
  }
  .fs-15 {
    font-size: min(12px + 3 * (100vw - 375px) / 1545, 15px);
  }
  .fs-14 {
    font-size: min(12px + 2 * (100vw - 375px) / 1545, 14px);
  }
  .fs-12 {
    font-size: min(12px + 0 * (100vw - 375px) / 1545, 12px);
  }
  /* cyrillic-ext */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  height: 56px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 9px 20px;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header__panel a {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .header__panel {
    display: none;
  }
}

.__burger_icon {
  --color: #000000;
  display: none;
  font-size: 1.5em;
  width: 32px;
  height: 32px;
  overflow: hidden;
  z-index: 10;
}
@media (max-width: 900px) {
  .__burger_icon {
    display: block;
  }
}
.__burger_icon span {
  display: block;
  position: relative;
  width: 32px;
  height: 3px;
  left: 0;
  background-color: var(--color);
  transition: all 0.2s ease;
}
.__burger_icon span:nth-child(1) {
  position: relative;
  top: 5px;
}
.__burger_icon span:nth-child(2) {
  position: relative;
  top: 11px;
}
.__burger_icon span:nth-child(3) {
  position: relative;
  top: 17px;
}
.__burger_icon.open span {
  --color: #000000;
}
.__burger_icon.open span:nth-child(1) {
  position: relative;
  top: 0.45em;
  transform: rotate(45deg);
}
.__burger_icon.open span:nth-child(2) {
  position: relative;
  transform: translate(-2em);
}
.__burger_icon.open span:nth-child(3) {
  position: relative;
  top: 0.25em;
  transform: rotate(-45deg);
}

.__extra_buttons {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #7a7a7a;
  z-index: 0;
  gap: 1.75rem;
  align-items: end;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  max-width: 100%;
  height: 100%;
  justify-content: center;
}
.__extra_buttons a {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.__extra_buttons.open {
  visibility: visible;
  opacity: 1;
}

.footer {
  height: 300px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.footer__licence {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: start;
  justify-content: start;
}
@media (max-width: 768px) {
  .footer__licence {
    justify-content: center;
  }
}
.footer__licence a {
  color: #9398a8;
}

.nav {
  display: flex;
  justify-content: start;
  gap: 25px;
}
.nav__block {
  display: flex;
  gap: 20px;
  text-wrap: wrap;
}
.nav__title {
  font-weight: 700;
}
.nav__contacts {
  color: #3f3f55;
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  .nav__block {
    flex-direction: column;
    gap: 10px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: start;
  justify-self: center;
  height: 500px;
  width: 100%;
  border-radius: 20px;
  background-color: #ff0000;
  margin-bottom: 30px;
  padding: 100px 40px;
}
.hero p {
  font-weight: 800;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news__slider {
  display: flex;
  align-items: center;
  gap: 20px;
}
.news__photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news__item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  gap: 10px;
  width: 100%;
  border-radius: 20px;
}
.news__item img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}
.news__item a {
  color: #2185fb;
}
.news__item a:hover {
  text-decoration: underline;
}
.news__button {
  align-self: center;
}
.news__button:hover {
  background: #0057ff;
  color: #fff;
}

.dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dates__tag {
  padding: 3px 11px;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #bdcfe4;
}

.news__grid {
  --columns-desktop: 4;
  --columns-mobile: 1;
  --collumn-min-size: 16rem;
  --gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--collumn-min-size), (100% - var(--gap) * (var(--columns-desktop) - 1)) / var(--columns-desktop)), 1fr));
  gap: var(--gap);
}
@media (width < 576px) {
  .news__grid {
    grid-template-columns: repeat(var(--columns-mobile), minmax(0, 1fr));
  }
}

.map {
  display: flex;
  flex-direction: column;
}
.map p {
  font-weight: 800;
}

.tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 17px;
  display: none;
  z-index: 1000;
  text-wrap: nowrap;
}
.tooltip a {
  text-decoration: underline;
}
.tooltip p {
  font-weight: 800;
}
.tooltip span {
  color: #2185fb;
}
@media (max-width: 768px) {
  .tooltip {
    padding: 10px;
  }
  .tooltip a {
    font-size: 14px;
    font-weight: 800;
    color: #2185fb;
  }
  .tooltip p {
    font-size: 14px;
  }
  .tooltip span {
    font-size: 14px;
    color: #2185fb;
  }
}
@media (max-width: 560px) {
  .tooltip {
    padding: 10px;
    gap: 10px;
  }
  .tooltip a {
    font-size: 8px;
    font-weight: 800;
    color: #2185fb;
  }
  .tooltip p {
    font-size: 8px;
  }
  .tooltip span {
    font-size: 8px;
    color: #2185fb;
  }
}

.tooltip.show {
  display: flex;
}

.wrapper__title {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .fc-toolbar-title {
    font-size: 14px;
  }
}
.calendar-news-grid {
  --columns-desktop: 4;
  --columns-mobile: 1;
  --collumn-min-size: 16rem;
  --gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--collumn-min-size), (100% - var(--gap) * (var(--columns-desktop) - 1)) / var(--columns-desktop)), 1fr));
  gap: var(--gap);
}
@media (width < 576px) {
  .calendar-news-grid {
    grid-template-columns: repeat(var(--columns-mobile), minmax(0, 1fr));
  }
}

.news-item {
  border-radius: 8px;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  gap: 10px;
  width: 100%;
}
.news-item img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.calendar-btn {
  justify-self: center;
}

.dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dates__tag {
  padding: 3px 11px;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #bdcfe4;
}
.dates__date {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #9090a1;
}
.dates__address {
  display: flex;
  justify-content: space-between;
}
.dates__participants {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.profile__title {
  color: var(--color-black-solid, #000);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 200% */
}
.profile__account-info-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.profile__account-info-fields {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.profile__btn-danger {
  display: flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: var(--stroke-weight-1, 1px) solid var(--leader-id-ru-white, #FFF);
  background: var(--leader-id-ru-white, #FFF);
  box-shadow: 0px 3px 5px 0px rgba(142, 165, 192, 0.2), 0px 6px 10px 0px rgba(142, 165, 192, 0.14), 0px 1px 18px 0px rgba(142, 165, 192, 0.12);
  color: var(--leader-id-ru-sunset-orange, #FF564E);
  text-align: center;
  /* leader-id.ru/Inter/Bold */
  font-family: var(--font-family-Font-1, Inter);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-700, 700);
  line-height: var(--line-height-18, 18px);
  /* 128.571% */
}
.profile__account-btns {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.profile__field-label {
  color: var(--color-black-solid, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profile__field-label span {
  color: var(--color-red-65, #FF564E);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profile__field {
  display: flex;
  width: 411px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.profile__field input {
  color: var(--leader-id-ru-periwinkle-gray, #BDCFE4);
  /* leader-id.ru/Inter/Regular */
  font-family: var(--font-family-Font-1, Inter);
  font-size: 13.234px;
  font-style: normal;
  font-weight: var(--font-weight-400, 400);
  line-height: var(--line-height-22_4, 22.4px);
  /* 169.256% */
  display: flex;
  padding: 10px 20px;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: var(--leader-id-ru-white, #FFF);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.mt-20 {
  margin-top: 20px;
}

.profile-region__list {
  --columns-desktop: 2;
  --columns-mobile: 1;
  --collumn-min-size: 598px;
  --gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--collumn-min-size), (100% - var(--gap) * (var(--columns-desktop) - 1)) / var(--columns-desktop)), 1fr));
  gap: var(--gap);
}
@media (width < 768px) {
  .profile-region__list {
    grid-template-columns: repeat(var(--columns-mobile), minmax(0, 1fr));
  }
}
.profile-region__item {
  position: relative;
  border-radius: 10px 10px 30px 30px;
  overflow: hidden;
  border-radius: 20px;
  background: var(--color-white-solid, #FFF);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}
.profile-region__item-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 11px 82px 15px 185px;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: fit-content;
  z-index: 2;
  bottom: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: var(--color-white-solid, #FFF);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}
.profile-region__item-footer .h1 {
  color: var(--leader-id-ru-black, #000);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.profile-region__item-footer .h2 {
  color: var(--leader-id-ru-black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.profile-region__avatar {
  position: absolute;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 100%;
  fill: #C4C4C4;
  stroke-width: 6px;
  stroke: #FFF;
  border: 10px solid #FFF;
  background: antiquewhite;
  z-index: 10;
  top: 27px;
  left: 30px;
}
.profile-region__banner {
  width: 100%;
  height: 202px;
  flex-shrink: 0;
  border-radius: 10px 10px 30px 30px;
}
.profile-region__banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tabs-control__item {
  display: flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: var(--stroke-weight-1, 1px) solid var(--leader-id-ru-periwinkle-gray, #BDCFE4);
  color: var(--leader-id-ru-dodger-blue, var(--color-azure-56, #2185FB));
  text-align: center;
  /* leader-id.ru/Inter/Bold */
  font-family: var(--font-family-Font-1, Inter);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-700, 700);
  line-height: var(--line-height-18, 18px);
  /* 128.571% */
}
.tabs-control__item.active {
  color: #FFF;
  border-radius: 4px;
  border: var(--stroke-weight-1, 1px) solid var(--color-azure-50, #0057FF);
  background: var(--color-azure-50, #0057FF);
}

.tabs-control__list {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  align-self: stretch;
}

:root {
  --display: 1440px;
  --display-full: 1920px;
  --padding-inline: 1.25rem;
}

* {
  font-family: "Inter";
  color: #000000;
}

html {
  background-color: #fff;
}

main {
  display: flex;
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  width: min(var(--display), 100% - var(--padding-inline) * 2);
  margin-inline: auto;
}
@media (min-width: 768px) {
  .wrapper {
    --padding-inline: 0.625rem;
  }
}
.wrapper--full {
  width: min(var(--display-full), 100%);
}

.btn {
  padding: 8px 24px;
  background-color: #2185fb;
  border-radius: 30px;
  color: #fff;
}
.btn--white {
  display: flex;
  color: #2185fb;
  text-wrap: nowrap;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #bdcfe4;
  width: fit-content;
  transition: 0.3s;
}

/*# sourceMappingURL=styles.css.map */
